//fonts
$coco: 'CocoGothic', 'sans-serif';
$coco-bold: 'CocoGothic-Bold', 'sans-serif';
$coco-light: 'CocoGothic-Light', 'sans-serif';
$coco-ultra-light: 'CocoGothic-UltraLight', 'sans-serif';
$gotham-book: 'Gotham-Book', 'sans-serif';
$gotham-light: 'Gotham-Light', 'sans-serif';
$gotham-bold: 'GothamBold', 'sans-serif';
$gotham-extra-light: 'GothamExtraLight', 'sans-serif';
$gotham-medium: 'GothamMedium', 'sans-serif';
$nexa-bold: 'NexaBold', 'sans-serif';
$nexa-light: 'NexaLight', 'sans-serif';

//colors
$color: red;